.dialog-button {
    background-color: #ff005d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  /* Style the dropdown button */
  .dropdown-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    cursor: pointer;
  }
  
  /* Style the dropdown links */
  .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown content when the button is clicked */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  