
<div>
  <button class="word-list-button" (click)="importWordList(1)">Import word list 1</button>
  <button class="word-list-button" (click)="importWordList(2)">Import word list 2</button>
  <button class="word-list-button" (click)="importWordList(3)">Import mostly-subjunctive 1</button>
  <button class="word-list-button" (click)="importWordList(4)">Import mostly-subjunctive 2</button>
  <button class="dialog-button" (click)="openInstructionsDialog()">Generate questions</button>
  <button class="dialog-button" (click)="openImportDialog()">Import questions</button>
</div>

<div style="margin-top: 100px; padding: 25px;">
  <quiz-question *ngFor="let question of loadedQuestions;" [question]="question"></quiz-question>
</div>

