
<div>
  
  <div class="dropdown">
    <button class="dropdown-button">Import Word List</button>
    <div class="dropdown-content">
      <a *ngFor="let wordList of wordLists; let i = index" (click)="importWordList(i)">
        {{ wordList.label }}
      </a>
    </div>
  </div>
  

  <button class="dialog-button" (click)="openInstructionsDialog()">Generate questions</button>
  <button class="dialog-button" (click)="openImportDialog()">Import questions</button>
</div>

<div style="margin-top: 100px; padding: 25px;">
  <quiz-question *ngFor="let question of loadedQuestions;" [question]="question"></quiz-question>
</div>

